:root {
    --secondary-glow: conic-gradient(
        from 10deg at 50% 50%,
        #e52256 0deg,
        #8f5a93 55deg,
        #97b5da 120deg,
        #24424c 160deg,
        transparent 360deg
    );
}

@keyframes rotateGradient {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.animated-gradient {
    background: var(--secondary-glow);
    width: 100%;
    height: 100vh;
    animation: rotateGradient 10s linear infinite;
    filter: blur(140px);
}

body {
    background-color: #f3f4f8;
    overflow: hidden;
  }
  .container {
    height: 700px;
    width: 100%;
    position: absolute;
    border-radius: 5px;
    top: 150px;
    left: 0;
    right: 0;
}
.content-wrap.col-12.col-md-12 {
    text-align: center;
    position: absolute;
    top: 3%;
}
input.search-input {
    width: 70%;
    height: 55px;
    padding: 15px;
    border-radius: 5px;
    border: 0;
    background: #f3f4f8;
}
button#search-icon {
    width: 6%;
    height: 55px;
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: #ba0046;
    color: #fff;
    margin-left: 10px;
    transition: 0.3s;
}
button#search-icon:hover {
    background-color: #f3f4f8;
    color: #000;
    transition: 0.3s;
}
input:focus-visible {
    outline: 0;
    box-shadow: 0px 3px 5px 1px #0000001f;
    border-radius: 5px;
}
div#sugg_and_result {
    position: relative;
    width: 77%;
    margin: 0 auto;
    /* box-shadow: 2px 2px 5px 0px #00000024; */
    border-radius: 5px;
    height: 540px;
    margin-top: 20px;
}
ul#suggestions-list {
    width: 35%;
    /* box-shadow: -4px 0px 3px 0px #00000024; */
    padding: 0px 15px 15px 0px;
    scroll-behavior: smooth;
    border-radius: 5px;
    overflow: scroll;
    height: 540px;
    overflow-x: hidden;
    float: left;
    display: inline-block;
}
div#results {
    width: 65%;
    padding: 15px;
    border-radius: 5px;
    height: 540px;
    display: inline-block;
    float: right;
    background: #f3f4f8;
}
.result-item {
    padding: 5px;
    text-align: left;
    font-size: 13px;
}
ul#suggestions-list li {
    display: flex;
    line-height: 34px;
    padding: 5px 8px;
    cursor: pointer;
}
ul#suggestions-list li {
    background: #f3f4f8;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 8px;
    transition: 0.3s;
}
ul#suggestions-list li:hover {
    background-color: #ba0046;
    padding: 8px;
    color: #fff;
    border-radius: 10px;
    transition: 0.3s;
}
.result_container {
    display: none;
}

#suggestions-list {
    overflow-y: hidden; 
    transition: overflow-y 0.2s;
  }
  
  #suggestions-list.show-scrollbar {
    overflow-y: hidden;
  }
  
  .suggestions-items {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .suggestions-items li.selected {
    background-color: #d0d0d0;
  }
.results-container {
    display: none;
}
#suggestions-list li strong {
    display: block;
    float: left;
    margin-right: 5px;
  }
  
  #suggestions-list li .interest {
    display: block;
  }
  .profile_img {
    border: 2px solid #000;
    border-radius: 66px;
    height: 45px;
    width: 45px;
    margin: 10px 15px 0px 20px;
    scale: 1;
    transition: 0.3s;
}
.suggestions-items::-webkit-scrollbar,.publications::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
}

.suggestions-items::-webkit-scrollbar-track,.publications::-webkit-scrollbar {
    background: #f1f1f1; /* Background of the scrollbar track */
    border-radius: 10px; /* Rounded corners for the track */
}

.suggestions-items::-webkit-scrollbar-thumb,.publications::-webkit-scrollbar {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
    border: 3px solid #f1f1f1; /* Space around the thumb to create padding */
}

.suggestions-items::-webkit-scrollbar-thumb:hover,.publications::-webkit-scrollbar {
    /* background: #555; Color of the scrollbar thumb when hovered */
    opacity: 0;
}
.profile-image:hover {
    scale: 1.5;
    transition: 0.3s;
}
.aprroximity {
    text-align: left;
}
.profile-container {
    display: flex;
    align-items: center;
  }
  .profile-details{
    text-align: left;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .approximity {
    border: 1px solid #000;
    width: 180px;
    height: 140px;
    padding: 8px;
}
.publications {
    border: 1px solid #000;
    margin-top: 10px;
    padding: 8px;
    overflow: scroll;
    overflow-x: hidden;
    height: 200px;
    width: 100%;
}
